* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}


.bg-blue {
  background: #233A95;
}

.HeaderWrapper .top-strip {
  padding: 8px 0px;
}

.HeaderWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.HeaderWrapper .header {
  width: 100%;
  height: auto;
  padding: 15px 0px;
}

.logoWrapper img {
  width: 100%;
}